#process {
  h3,
  p {
    font-size: 1.125rem;
  }
  h3 {
    color: #17804f !important;
  }
}
@media screen and (min-width: 768px) {
  #process {
    .process_wrapper {
      margin-top: 4rem;
    }
    .inactive {
      opacity: 0.5;
    }
    .active {
      border-left: solid 3px $primary;
    }
    .process_lg_wrapper {
      cursor: pointer;
      padding-left: 2rem;
      margin-bottom: 2rem;
    }
  }
}
