#testimonials {
  .quote_left {
    top: 0;
    left: 0;
  }
  .control-dots > * {
    background: $primary;
    border-radius: 0;
    width: 12px;
    height: 12px;
  }
}
@media screen and (min-width: 768px) {
  #testimonials {
    .quote_left {
      top: -5%;
      left: -5%;
    }
  }
}
