#zeitstrahl {
  h2 {
    font-size: 1.5rem;
  }
  .punkt {
    width: 30px;
    height: 30px;
    background: $primary;
    border-radius: 50%;
  }
  p {
    font-size: 1.125rem;
  }
  h4 {
    color: #17804f !important;
  }
  .zeit_kasten {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: $green-100;
      z-index: -1;
      transform: rotate(45deg);
      top: -10px;
      left: 4px;
    }
  }
  .jahr {
    position: absolute;
    top: -70%;
    left: 100%;
    transform: rotate(-30deg);
    transform-origin: left;
  }
  .strahl {
    height: 15px;
    width: 100%;
    background: $green-100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

@media screen and (min-width: 992px) {
  #zeitstrahl {
    margin-bottom: 10rem;
  }
}
